//Import Varibles from partials
@use 'partials/nav'
@use 'partials/resume'

.bubble-canvas
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -2
    pointer-events: none

.ocean-canvas
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -3
    pointer-events: none
